Repository innofactororg/markdown2pdf, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github, area/module, area/vscode, area/tasks, area/documentation, area/definitions

.github/labeler.yml:

---
area/github:
  - ".github/**/*"
area/module:
  - "modules/**/*"
area/vscode:
  - ".vscode/**/*"
area/tasks:
  - ".tasks/**/*"
area/documentation:
  - "docs/**/*"
area/definitions:
  - "examples/**/*"
  - "*.tf"

Delete sample-call-build-documenation.yml
  .github/workflows/sample-call-build-documenation.yml
Labels: area/github

Delete sample-call-convert-markdown.yaml
  .github/workflows/sample-call-convert-markdown.yaml
Labels: area/github

Delete build-docs.ps1
  scripts/build-docs.ps1
Labels: none

Delete cover.png
  templates/cover.png
Labels: none

Delete logo.png
  templates/logo.png
Labels: none

Delete azure-document.yaml
  templates/azure-document.yaml
Labels: none

Delete azure-document.tex
  templates/azure-document.tex
Labels: none

Update README.md
  README.md
Labels: none

Add release action
  .github/release.yml
  .github/workflows/release.yml
Labels: area/github

Add release action (#27)
  .github/release.yml
  .github/workflows/release.yml
Labels: area/github

Add gitignore+CODEOWNERS and change vscode settings
  .gitignore
  .vscode/settings.json
  CODEOWNERS
Labels: area/vscode

Update release.yml
  .github/workflows/release.yml
Labels: area/github
